html {
  height: 100%;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
  background:#292929;
  color:#919191;
}
.banner{
  height:100vh;
  background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(Background.png);
  background-size: cover;
  background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
